/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  display: flex;
  justify-content: center;
  padding-top: 200px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(249, 250, 251),
    rgb(210, 214, 219)
  );
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.card {
  background: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  width: 340px;
}

.header img {
  width: 3rem;
  height: 3rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info {
  margin-left: 1rem;
}

.header div {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.125rem;
  color: #171717;
  font-weight: 600;
}

.username {
  font-size: 1.125rem;
  color: #525252;
}

body p {
  margin-top: 1rem;
  color: #525252;
}
